<!DOCTYPE html>
<html class="no-js " lang="zh-CN">

<head>
  <link rel="shortcut icon" href="https://b.yzcdn.cn/v2/image/yz_fc.ico">
  <title>发现朋友圈的推荐</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <style>
    [v-cloak] {display: none}
  </style>
</head>

<body class=" " style="min-height: 860px;">
  <div id="app" v-cloak>
    <div class="container with-bottom-nav" style="min-height: 667px;">
      <div class="content">
          <swiper :lists="bannerLists" v-if="bannerLists"></swiper>
        <div class="section-title">优店推荐</div>
        <div class="section-content shops">
          <div class="shop-wrap">
            <div v-for="list in goodShop" :key="list.id" class="shop-item">
              <a :href="list.clickUrl">
                <img class="fadeIn" :src="list.image">
              </a>
            </div>
          </div>
        </div>
        <div class="section-content daily">
          <ul>
          </ul>
        </div>
        <div class="line-block line-block-gray">
          <div class="lineblock-title">
            <span class="lineblock-font">最热商品推荐</span>
          </div>
        </div>
        <div class="hot-goods js-waterfull-wrap" data-src="">
          <ul class="js-list js-lazy" data-src=""
            v-infinite-scroll="getLists"
            infinite-scroll-disabled="loading"
            infinite-scroll-distance="30">
            <li v-for="(list, index) in lists" :key="list.id+index">
              <div class="goods-item">
                <a :href="'goods.html?id='+list.id">
                  <div class="thumb img-box">
                    <img class="fadeIn" :src="list.img">
                  </div>
                  <div class="detail">
                    <div class="title">{{list.name}}</div>
                    <div class="price">￥{{list.price}}</div>
                  </div>
                </a>
              </div>
            </li>
          </ul>
          <div class="loading-more" v-show="loading"><span></span></div>
        </div>
        <div class="js-show-find category-guid" style="display: none;"></div>
      </div>
    </div>
    <foot></foot>
  </div>
</body>

</html>
