<!DOCTYPE html>
<html class="no-js " lang="zh-CN">

<head>
  <link rel="shortcut icon" href="https://b.yzcdn.cn/v2/image/yz_fc.ico">
  <title>列表</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <style>
      [v-cloak] {display: none}
  </style>
</head>

<body class=" " style="min-height: 667px;">
  <div v-cloak @touchmove="move" class="container with-top-search" style="min-height: 667px;">
    <div class="custom-search js-search-bar">
      <form>
        <input type="search" class="custom-search-input" autocomplete="off" name="keyword" :value="keyword" placeholder="搜索更赞的商品" style="padding-left: 66px;">
        <span class="icon-custom-search"></span>
      </form>
      <button class="custom-search-type-selection-btn custom-search-type-selection-btn-focus">商品</button>
      <span class="cancel">取消</span>
      <div class="search-type-dropdown-menu" style="display: none;">
        <span class="search-type-dropdown-menu-indicator">
            <i></i>
        </span>
        <div class="drop-menu-content">
          <div class="search-type-goods">
            <i class="icon-goods"></i>
            <span>商品</span>
          </div>
          <div class="search-type-dropdown-menu-divider"></div>
          <div class="search-type-shop">
            <i class="icon-shop"></i>
            <span>店铺</span>
          </div>
        </div>
      </div>
    </div>
    <div class="search-content" style="display: none;"></div>
    <div class="content">
      <div class="search-wrap js-waterfull-wrap">
        <ul class="js-list" v-if="searchList">
          <li class="goods-item" v-for="list in searchList">
            <a :href="'goods.html?id='+list.id">
              <div class="thumb">
                <img :src="list.image">
                <i class="sell-out" v-if="list.isOut"></i>
              </div>
              <div class="detail">
                <div class="title">{{list.name}}</div>
                <div class="meta relative">
                  <span class="price">￥{{list.price | currency}}</span>
                  <span class="ship pull-right" v-if="list.postage">包邮</span>
                </div>
              </div>
            </a>
          </li>
        </ul>
        <div class="list-finished">已经没有更多了</div>
      </div>
    </div>
    <div @click="toTop" v-show="isShow" class="go-to-top" style="transform-origin: 0px 0px 0px; opacity: 1; transform: scale(1, 1);"></div>
  </div>
</body>

</html>
